div(style='margin:0')
  div(style='background: #f2f2f2;\
  margin: 0 auto;\
  max-width: 450px;\
  padding: 20px 17.5px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0')
      tbody
        tr
          td(style='padding:16px 20px;background:#fff')
            div(style="float:left")
              if logo
                img(src=logo style='height:32px')
              else
                img(src='https://static.prepseed.com/brand/prepseed/logo.png' style='height:32px')
            div(style='background:#fff;color:#292f33;font-family:arial;font-size:16px;padding:10px 0px;width:90%;line-height:20px;clear:both')
              p(style='font-weight:bold') Reset your password?
              p(style='color:#292f33;')
                | If you requested a password reset for #{email}, click the button below. If you didn't make this request, ignore this email.
              a(style='font-size:16px;color:#fff;text-decoration:none;background-color:rgb(26,115,232);border-radius: 4px;display:block;padding:13px 0;text-align:center' href=link)
                | Reset your password