div Hi #{name},
br
div Thanks for showing your interest in Prepseed.
div #{mentorName} will be mentoring you in #{label}.
//- div You can login on #[a(href="https://mentors.prepseed.com") mentors.prepseed.com] to chat with him.

br

div Feel free to write to us at #[a(href="mailto:help@prepseed.com") help@prepseed.com] in case of any query.

br

div Thanks,
div Team Prepseed

